body {
	margin: 0;
	padding: 0;
	background: url(images/fundoestrelasAzulEscuro.jpg) repeat;
	align-items: center;
	font-size: 14px;
	color: rgb(0, 0, 0);
}

h1,
h2,
h3 {
	margin: 0px;
	padding: 45px;
	text-align: center;
	font-family: cursive;
	font-size: 40px;
	font-weight: 400;
	color: rgb(0, 0, 117);
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 1.6em;
}

p,
ul,
ol {
	margin-top: 0;
	line-height: 180%;
}

img.alignleft {
	float: left;
	margin-top: 5px;
	margin-right: 30px;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

#wrapper {
	margin: 0 auto;
	padding: 0;
}

#header {
	overflow: hidden;
	width: 650px;
	height: 100px;
	margin: 0 auto;
}

#logo h1 {
	float: left;
	padding-left: 30px;
	letter-spacing: -3px;
	font-size: 50px;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: rgb(255, 255, 255);
}

#listagens {
	font-family: cursive;
	text-align: center;
}

#page {
	overflow: hidden;
	width: 860px;
	height: 1200px;
	margin: 0px auto;
	padding: 40px 40px;
	background: rgb(215, 240, 237);
	box-shadow: inset 1px 1px 2px 2px rgb(23, 236, 165);
}

#content {
	float: left;
	width: 520px;
	padding: 0px 20px;
}

.post {
	padding-bottom: 20px;
	border-bottom: 1px solid #BDBDBD;
}

#imagem {
	display: flex;
    justify-content: center;
    align-items: center;	
}

#footer {
	width: 900px;
	height: 120px;
	margin: 2px auto;
}

#footer p {
	margin: 0;
	padding-top: 45px;
	line-height: normal;
	text-transform: lowercase;
	text-align: center;
	font-size: 14px;
	color: rgb(236, 233, 243);
}

#about {
	overflow: hidden;
	width: 820px;
	margin: 20px auto 0px auto;
	padding: 15px;
	background: url(images/page-gradient-bg.png) repeat-x left bottom;
	box-shadow: inset 0px 0px 1px 1px rgb(196, 196, 196);
}


#two-column {
	padding-top: 30px;
}

#two-column h2 {
	padding-bottom: 20px;
	font-size: 30px;
	text-align: center;
	color: rgb(30, 1, 158);
}

#about .title {
	padding-bottom: 10px;
	text-transform: lowercase;
	text-align: justify;
	font-size: 20px;
	color: rgb(53, 89, 250);
}

#two-column #column1 {
	width: 800px;
}

.list-style1 {
	margin: 3px;
	padding: 3px;
	list-style: none;
}

.button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
	padding: 4px;
	cursor: pointer;
	display: inline-block;
	display: block;
	margin: 0 300px;
	align-items: center;
}

.btn {
	background-color: rgb(8, 77, 109);
	color: #FFFFFF;
	box-shadow: 0 3px 0 rgb(64, 64, 233);
}

.btn:hover {
	background-color: rgb(58, 58, 206);
	color: #FFFFFF;
	box-shadow: 0 3px 0 rgb(8, 77, 109);
}

.btn:active {
	position: relative;
	top: 5px;
	box-shadow: none;
}

table, th, td {
	border: 3px solid rgb(0, 0, 0);
	color: rgb(7, 0, 0);
	font-family: cursive;
	margin: auto;
	text-align: left;
	position: center;
}